/*.outInsert .cl-103, .outInsert .cl-104 {*/
/*height: 100%;*/
/*display: block;*/
/*padding: .5rem;*/
/*background: #f42023;*/
/*color: #fff;*/
/*text-align: center;*/
/*font-size: .8rem;*/
/*}*/
.cl-102 .outInsert {
    height: 100%;
    display: block;
    padding: .5rem;
    background: #f42023;
    color: #fff;
    text-align: center;
    font-size: .8rem;
}

.Center {
    text-align: center;
    margin-top: 1rem;
}

.Center span {
    color: #adadad;
}

.Center a {
    color: #f42023;
}

.Prompt {
    display: block;
    background: #eeeeee;
    font-size: small;
    color: #adadad;
}

.vipcp ~ .content {
    top: 4.2rem;
    background: #eeeeee;
}

.page .vipcp {
    background: #f42023;
    color: #fff;
    position: relative;
    height: 4rem;
}

.page .vipcp .title img {
    padding-top: 1rem;
    width: 50%;
}

.page .vipcp .button, .page .vipcp .title {
    color: inherit;
}

.bar .button-nav.pull-left {
    margin-left: -.25rem;
}

.reg-101 {
    text-align: center;
    margin-top: 0.8rem;
}

.vipcp-102 {
    height: 100%;
    display: block;
    padding: .5rem;
    background: #f42023;
    color: #fff;
    text-align: center;
    font-size: .8rem;
    border-radius: .3rem;
}

.pass-101 {
    text-align: center;
    margin-top: 0.7rem;
}

.reg-101 a {
    color: #f42023;
}

.pass-101 a {
    color: #6a6a6a;
}

.agree {

}

.agree span {
    width: 10px;
    height: 10px;
    border: 1px solid #f42023;
    margin-right: 3px;
    display: inline-block;
    margin-left: 20px;
}

.agree a {
    color: #f42023;
}

.vipcp-list-block {
    margin: .75rem 0;
}

.remenber {
    margin-left: 20px;
}

.remenber span {
    display: inline-block;
    width:10px;
    height:10px;
    border:1px solid #f42023;
    vertical-align:-2px;
    margin-right:3px;
}

/*.vipcp-list-block ul{*/
/*background: #fff;*/
/*list-style:none;*/
/*padding:0;*/
/*margin:0;*/
/*position: relative;*/
/*margin-bottom:1.2rem;*/
/*}*/