.yd_head{background: #fff;height: 50px;padding: 0px 10px; border-bottom:3px solid #fa6200;}
.logo img{height: 24px;vertical-align: middle;}
.logo{display: inline-block;margin-top: 13px;}
.yd_head_rt a{display: inline-block;border-radius: 3px;line-height: 28px;width: 84px;font-size: 14px;text-align: center;margin-left: 5px;margin-top: 10px;}
.yd_head_rt a .img_h{display: none;}
.yd_head_rt a:hover{background: #ffffff;color: #e73030;border:1px solid #fff;}
.yd_head_rt a:hover .img_q{display: none;}
.yd_head_rt a:hover .img_h{display: inline-block;}
.yd_head_rt img{width: 16px;vertical-align: -3px;}
.yd_banner img{width: 100%;vertical-align: middle;}
.main{padding: 0px 10px;}
.yd1_img img{width: 120px;height: 120px;}
.yd1{padding: 15px 0px;}
.yd1_rt{padding-left: 136px;}
.yd1_rt_tl a{font-size: 24px;color: #333333;}
.star{display: inline-block;background: url(../imgaes/yind_21.png) no-repeat;width: 13px;height: 12px;background-size: 13px 12px;}
.yd1_rt_text{color: #797979; padding-top:10px;}
.yd2 a{display: block;width: 48%;text-align: center;line-height: 62px;border-radius:10px;font-size: 20px;color: #fff;}
.yd2 img{display: inline-block;vertical-align: middle;width: 33px;}
.yd2 a:hover{opacity: 0.8;color: #fff;}
.yd3{padding: 15px 0px;}
.yd3 a{display: block;border:2px solid #e73030;line-height: 58px;font-size: 20px;text-align: center;color: #e73030;border-radius:10px;}
.yd3 a:hover{background: #e73030;color: #fff;}
.footer{text-align: center;color: #a4a4a4;border-top: 1px solid #a4a4a4;padding: 20px 0px;}
.pinglun li{border-bottom: 1px solid #ddd;padding: 10px;color: #878787;font-size: 14px;}
.pj_con{color: #e94200;font-size: 15px;}
.pj_per span{color: #33c3ff;}
.pj_per{padding: 5px 0px;}
.pl_tl{background: #fa6200;padding: 0px 10px;line-height: 46px;color: #fff;font-size: 20px;}
.pl_tl span{font-size: 12px;margin-left: 23px;}
.pl_tl_main{background: url(../imgaes/aj.png) no-repeat right center;background-size: 13px 9px;}
