.wrap{
    background: url(../images/lgbg_02.jpg) no-repeat center;
    /*width:100%;*/
    padding:30px 0px;
    height:40rem;
    background-size:cover;
}
.register_nr{
    border:1px solid #dddddd;
    width:1000px;
    margin:auto;
    height:40rem;
}
.register_nr_t{
    border-bottom:1px solid #ddd;
}
.left_register{

}
.right_register{

}