/*.outInsert .cl-103, .outInsert .cl-104 {*/
/*height: 100%;*/
/*display: block;*/
/*padding: .5rem;*/
/*background: #f42023;*/
/*color: #fff;*/
/*text-align: center;*/
/*font-size: .8rem;*/
/*}*/
.cl-102 .outInsert {
    height: 100%;
    display: block;
    padding: .5rem;
    background: #f42023;
    color: #fff;
    text-align: center;
    font-size: .8rem;
}

.Center {
    text-align: center;
    margin-top: 1rem;
}

.Center span {
    color: #adadad;
}

.Center a {
    color: #f42023;
}

.Prompt {
    display: block;
    background: #eeeeee;
    font-size: small;
    color: #adadad;
}

.vipcp ~ .content {
    top: 4.2rem;
    background: #eeeeee;
}

.page .vipcp {
    background: #FF3C39;
    color: #fff;
    position: relative;
    height: 4rem;
}
.recl-1{
    background: #FF3C39!important;
}
.page .vipcp .title img {
    padding-top: 1rem;
    width: 40%;
}
.bar .reicon{
    margin-top: -20%;
    margin-left: 30%;
    font-size: 0.8rem;
    line-height: 0.8rem;
}
.bar-nav .reimg img{
    height: 45%;
    vertical-align: middle;
    width: 86px;
}
.bar-nav .reimg{
    font-size: 18px;
}

.page .vipcp .button, .page .vipcp .title {
    color: inherit;
}

.bar .button-nav.pull-left {
    margin-left: -.25rem;
}

.reg-101 {
    text-align: center;
    margin-top: 0.8rem;
}

.vipcp-102 {
    height: 100%;
    display: block;
    padding: .5rem;
    background: #f42023;
    color: #fff;
    text-align: center;
    font-size: .8rem;
    border-radius: .3rem;
}

.pass-101 {
    text-align: center;
    margin-top: 0.7rem;
}

.reg-101 a {
    color: #f42023;
}

.pass-101 a {
    color: #6a6a6a;
}

.agree {

}

.agree span {
    width: 10px;
    height: 10px;
    border: 1px solid #f42023;
    margin-right: 3px;
    display: inline-block;
    margin-left: 20px;
}

.agree a {
    color: #f42023;
}

.vipcp-list-block {
    margin: .75rem 0;
}

.remenber {
    margin-left: 20px;
}
.remenber span img{
    width: 10px;
    height:10px;
    position: absolute;
}
.agree span img{
    width: 10px;
    height:10px;
    position: absolute;
}
.remenber span {
    display: inline-block;
    width:12px;
    height:12px;
    border:1px solid #f42023;
    vertical-align:-2px;
    margin-right:3px;
    position: relative;
}
.remenber span .show_hide{
    display: none;
}
.agree span .show_hide{
    display: none;
}
/*.vipcp-list-block ul{*/
/*background: #fff;*/
/*list-style:none;*/
/*padding:0;*/
/*margin:0;*/
/*position: relative;*/
/*margin-bottom:1.2rem;*/
/*}*/

.re-item-vipcp-zh{
    border-radius: 0!important;
    height: 2.1rem;
    min-height: 2.1rem!important;
}
.re-item-vipcp-zh input{
    color: #737573!important;
    font-size: 0.8rem!important;
    font-family: "微软雅黑"!important;
}
.re-item-form{
    background-size: 110%!important;
    width: 0.75rem!important;
    height: 0.9rem!important;
    margin: 0 0.5rem;
}
.re_reg_18_img{
    background-image: url(../img/reg_18.png)!important;
}
.layui-m-layer1 .layui-m-layerchild{
    width: 10rem!important;
    top:-3rem;
}
.layui-m-layerchild h3{
    height: 1.3rem!important;
    line-height: 1.3rem!important;
     border-radius: 0 0 5px 5px!important;
}
.layui-m-layercont{
    padding: 0.2rem .25rem!important;
    word-wrap: break-word!important;
    line-height: initial!important;
}
.jb_img{
    display: inline-flex;
    margin-left: 23%;
    background: url(../img/close_btn.png) no-repeat;
    position: absolute;
    width: 0.8rem;
    height: 1rem;
    background-position: 2px -36px;
}