.numbar {
    position: absolute;

}

.number_bar-tab {
    border-top: 1px solid #aaaaaa;
    bottom: 0;
    width: 100%;
    height: 2.8rem;
    background: #030303;
    position: absolute;
    z-index: 9999;
    text-align: center;
}

.bottom2 {
    bottom: 3rem;
}

.number_bar-tab img {
    height: 22px;
    position: relative;
    top: 0.1rem;
    /*display: block;*/
}

.number_bar-tab a {
    display: inline-block;
    width: 19%;
    color: #9a9a9a;
    padding-top: 1.6%;
    line-height: 20px;
    height: 2.8rem;
    float: left;
    padding: 0;
    margin: 0;
}

.number_bar-tab span {
    display: block;
    font-size: smaller;
}

.number_bar .H {
    display: none;
}

.number_bar-tab .active {
    border-bottom: 5px solid #ed9142;
    color: #ed9142;
}

