.numbar {
    position: absolute;
}

.h_cl-22 img {
    position: absolute;
    height: 40px;
    left: 0.6rem;
    top: 0.4rem;
}


.h_cl-328 a {
    position: absolute;
    top: 0.78rem;
    color: #ffffff;
    right: 2.5rem;
    font-size: 0.65rem;
}

.h_cl-328 .caidan {
    color: #ffffff;
    position: relative;
    top:0.6rem;
    border:none;
    right:1px;
}

.number_bar-tab {
    position: fixed;
    border-top: 1px solid #aaaaaa;
    bottom: 0;
    width: 100%;
    height: 3.05rem;
    background: #030303;
    z-index: 9999;
    text-align: center;
    table-layout: fixed;
    backface-visibility: hidden;
}

.bottom2 {
    bottom: 3rem;
}

.number_bar-tab img {
    width: 26px;
    position: relative;
    top: 0.1rem;
}

.number_bar-tab a {
    display: inline-block;
    padding-top: 1.6% !important;
    width: 20%;
    color: #9a9a9a;
    height: 3.05rem;
    float: left;
    margin: 0;
}

.number_bar-tab span {
    display: block;
    font-size: smaller;
}

.number_bar .barImg2 {
    display: none;
}

.number_bar-tab .active {
    border-bottom: 5px solid #ed9142;
    color: #ed9142;
}

.number_bar-tab .active span {
    font-size: 14px !important;
    margin-top: 1px;
}

.h_bar-nav {
    background: #F72021 !important;
    position: relative;
    height: 2.4rem;
    z-index: 99;
    text-align: center;
    font-size: 16px;
}

.top2 {
    top: 2.4rem;
}

.head_per_ico {
    position: absolute;
    display: block;
    background: url(../img/index_01.png) no-repeat left center;
    width: 80px;
    height: 32px;
    background-size: 25px 26px;
    left: 10px;
    top: 11px;
    z-index: 100;
}

.head_per_ico span {
    padding-left: 16px;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.head_bj_ico {
    position: absolute;
    display: block;
    background: url(../img/index_02.png) no-repeat;
    width: 68px;
    height: 32px;
    background-size: 25px 25px;
    right: 10px;
    top: 13px;
    z-index: 100;
}

.head_bj_ico span {
    padding-left: 29px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
}

.logo {
    position: absolute;
    width: 119px;
    height: 34px;
    background: url(../img/logo.png) no-repeat;
    background-size: 119px 34px;
    display: block;
    left: 50%;
    margin-left: -59px;
    top: 8px;
}

img  {
    Vertical-aliagn: top;
    border: 0;
}