body {
    font-size: .65rem
}

.left {
    float: left
}

.right {
    float: right
}

.page .bar-nav {
    background: #f42023;
    color: #fff
}

.page .bar-nav .button, .page .bar-nav .title {
    color: inherit
}

.cl-1 {
    line-height: 2.2rem !important;
    height: 2.2rem !important;
    overflow: hidden
}

.cl-2 {
    display: inline-block;
    height: 100%
}

.cl-2 img {
    display: inline-block;
    height: 1.3rem !important;
    vertical-align: middle
}

.cl-3 a {
    color: #fff;
    margin-right: .3rem
}

.cl-3 a:last-child {
    background: #12b6f3;
    border-radius: 5px;
    padding: .2rem .5rem;
    margin-right: 0
}

.cl-4 {
    border-bottom: 1px solid #ddd;
    background: #fff;
    overflow: hidden;
    padding-left: 2rem;
    background: url(../img/hico1.png) .5rem 50% no-repeat;
    background-size: 1.2rem;
    margin-bottom: .3rem
}

.cl-4, .cl-4 .swiper-container {
    background-color: #fff;
    height: 1.5rem;
    line-height: 1.5rem
}

.cl-4 .swiper-container {
    padding: 0
}

.cl-5 {
    border: 0;
    padding: 0;
    padding-top: .2rem;
    background: #fff;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0
}

.cl-7 .cl-5:nth-child(1) a.col-25 {
    border-top: 1px solid #ddd
}

.cl-5 a {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 25%;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    padding-top: .2rem
}

.cl-5 a.col-25 {
    margin-left: 0;
    width: 25%;
    text-align: center
}

.cl-5 a.col-25:nth-child(4) {
    border-right: 0
}

.cl-5 a span {
    display: block;
    margin: .1rem auto;
    text-align: center;
    color: #000
}

.cl-5 a span:first-child {
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 1.5rem;
    width: 2.7rem;
    height: 2.7rem;
    margin-bottom: .3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    margin: .1rem auto
}

.cl-6 {
    background: #fff;
    padding: 0 .5rem
}

.cl-6 .col-100 {
    margin-top: .2rem;
    margin-bottom: .2rem;
    height: 1.3rem;
    line-height: 1.3rem
}

.cl-6 .col-100 span:first-child {
    font-size: 1rem;
    font-weight: 700;
    border-left: 5px solid #f42023;
    display: block;
    padding-left: .2rem
}

.cl-6 {
    margin-top: .3rem
}

.cl-6 a {
    color: #000
}

.cl-7 .cl-5 {
    margin-top: 0
}

.cl-6 .col-100 .left:nth-child(2) {
    color: #999;
    font-size: .5rem
}

.cl-8 .list-block ul li a, .cl-8 .list-block ul li a .item-subtitle, .cl-8 .list-block ul li a .item-text {
    font-size: .5rem
}

.cl-8 .list-block ul li a .item-subtitle .ball {
    border-radius: 25px;
    background: #dd3e3e;
    color: #fff;
    width: 1rem;
    line-height: 1rem;
    height: 1rem;
    display: inline-block;
    text-align: center
}

.cl-8 .list-block ul li a, .cl-8 .list-block.media-list .item-inner {
    padding-left: .3rem;
    margin-left: 0
}

.cl-8 .list-block ul li a .item-subtitle {
    margin-top: .2rem;
    margin-bottom: .2rem
}

.cl-8 .list-block ul li a .item-text span {
    height: 100%;
    min-width: 1rem;
    text-align: center;
    border: 1px solid #ddd;
    display: inline-block
}

.cl-8 .list-block ul li a .item-subtitle, .cl-8 .list-block ul li a .item-text, .cl-8 .list-block ul li a .item-title-row {
    height: 1rem;
    line-height: 1rem
}

.cl-8 .list-block {
    margin-top: 0;
    margin-bottom: 0
}

.list-block ul li a .item-inner:after {
    content: none
}

.list-block ul li:after, .list-block ul li:first-child:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #ddd;
    display: block;
    z-index: 5;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%
}

.list-block ul li:after {
    bottom: 0
}

.list-block ul li:first-child:before {
    top: 0
}

.cl-9 {
    padding: 0 .3rem;
    background: #fff;
    padding-bottom: .3rem
}

.cl-9 .col-33 img {
    margin-right: .3rem;
    width: .5rem;
    height: .5rem
}

.cl-9 .col-33 span {
    color: #000;
    height: .5rem;
    font-size: .5rem
}

.cl-9 .col-33 {
    background: url(../img/hico86.png) center center/100% 100% no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 33%
}

.cl-9 .col-33 {
    display: block;
    text-align: center;
    vertical-align: middle;
    padding: .5rem 0;
    font-size: .5rem
}

.cl-9 .row {
    margin: auto
}

.cl-9 .row .col-100 {
    margin: 0;
    width: 100%
}

.cl-9 .col-33 {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

.cl-9 .row:nth-child(2) {
    border-top: 1px solid #ddd
}

.cl-9 .row .col-33:first-child {
    border-left: 1px solid #ddd
}

.copyright {
    color: #a0a0a0;
    text-align: center;
    margin: 15px 0
}

.cl-10 .icon:before {
    content: '';
    background-repeat: no-repeat
}

.icon-cqk:before {
    margin: auto;
    background-image: url(../img/ico2.png);
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    background-size: 1.25rem
}

.icon-gcdt:before {
    margin: auto;
    background-image: url(../img/ico3.png);
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    background-size: 1.25rem
}

.icon-jymx:before {
    margin: auto;
    background-image: url(../img/ico4.png);
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    background-size: 1.25rem
}

.icon-hyzx:before {
    margin: auto;
    background-image: url(../img/ico5.png);
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    background-size: 1.25rem
}

.cl-10 .bar-tab .tab-item .icon {
    display: block
}

.cl-10 {
    background: #202020
}

.cl-10 .tab-item .tab-label, .cl-10 .tab-item.active .tab-label {
    color: #aaa
}

.cl-10 .tab-item:after {
    content: '';
    position: absolute;
    right: -1px;
    top: 0;
    width: 2px;
    height: 100%;
    background: url(../img/ico7.png);
    z-index: 1
}

.cl-10 .tab-item.tab-item:last-child:after {
    content: none
}

.bar-tab .tab-item, .cl-10 {
    height: 2.75rem
}

.bar-tab ~ .content {
    bottom: 2.75rem
}

.cl-10 .tab-item .tab-label {
    margin-top: .3rem;
    width: auto;
    margin: auto;
    display: inline-block
}

.cl-10 .tab-item .icon {
    height: 1.25rem;
    line-height: 1.25rem;
    width: 100%;
    background-repeat: no-repeat
}

.cl-6 {
    margin: 0;
    margin-top: .3rem;
    padding: 0 .3rem
}

.cl-6 .col-100 {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%
}

.bar .button-link {
    font-size: .7rem
}

.bar-nav .title {
    height: 100%
}

.bar-nav .title img {
    height: 65%;
    vertical-align: middle
}

.cl-100 {
    text-align: center;
    margin: 1rem 0;
    padding: 0
}

.bg-white {
    background: #fff
}

.cl-101, .cl-102 {
    width: 80%;
    margin: auto
}

.cl-102 {
    width: auto;
    margin-left: .75rem;
    margin-right: .75rem
}

.cl-101 .list-block ul li .item-content .item-media .icon {
    content: ''
}

.cl-101 .list-block ul li .item-content {
    padding: 0
}

.cl-101 .list-block ul li .item-content .item-media {
    border-right: 1px solid #cdcdcd;
    padding: 0 .5rem
}

.cl-101 .list-block ul li:before {
    content: none
}

.cl-101 .list-block ul li .item-content {
    border: 1px solid #cdcdcd
}

.cl-101 .list-block ul li {
    margin-bottom: .5rem
}

.cl-101 .list-block ul li .item-content .item-inner, .cl-101 .list-block ul li .item-content .item-media {
    height: 2.2rem
}

.cl-101 .icon {
    background-size: 1.2rem;
    background-repeat: no-repeat
}

.cl-101 .icon-form-name {
    background-image: url(../img/ico14.png);
    width: 1.25rem;
    height: 1.25rem;
    display: block
}

.cl-101 .icon-form-password {
    background-image: url(../img/ico15.png);
    width: 1.25rem;
    height: 1.25rem;
    display: block
}

.cl-101 .list-block ul li input {
    padding: 0;
    font-size: .6rem
}

.cl-101 .list-block ul li .item-content, .cl-102 a {
    border-radius: .3rem
}

.cl-102 .cl-103, .cl-102 .cl-104 {
    height: 100%;
    display: block;
    padding: .5rem;
    background: #f42023;
    color: #fff;
    text-align: center;
    font-size: .8rem
}

.cl-102 .cl-104 {
    background: #2db4fa
}

.cl-102 strong {
    text-align: center;
    display: block;
    margin: .75rem auto;
    font-weight: 400;
    position: relative
}

.cl-102 strong:after, .cl-102 strong:before {
    position: absolute;
    content: '';
    top: 50%;
    width: 34%;
    height: 1px;
    background: #aaa
}

.cl-102 strong:before {
    left: 0
}

.cl-102 strong:after {
    right: 0
}

.cl-101 .list-block {
    margin: .75rem 0
}

.icon-home:before {
    content: '';
    background-image: url(../img/ico1.png);
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    background-size: 1.25rem;
    background-repeat: no-repeat
}

.icon-dhome:before {
    margin: auto;
    background-image: url(../img/icohome.png);
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    background-size: 1.25rem
}

.cl-200 {
    background: url(../img/ico18.png) center top/100% 100%
}

.cl-201 img {
    vertical-align: middle
}

.cl-200, .cl-201, .cl-202, .cl-203 {
    height: 5rem;
    margin: 0
}

.cl-200 .cl-201 {
    width: 24%;
    text-align: right
}

.cl-200 .cl-202, .cl-200 .cl-203 {
    width: 38%
}

.cl-202 span, .cl-203 span {
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    display: block;
    margin-top: .1rem
}

.cl-201, .cl-202, .cl-203 {
    height: 100%;
    padding: .875rem 0
}

.cl-201 img {
    height: 100%
}

.cl-202 span font {
    color: #3cff00
}

.cl-202 span:last-child i {
    background: #dd3e3e;
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    text-align: center;
    font-style: normal
}

.cl-202 span:last-child var {
    display: inline-block;
    border-radius: 1rem;
    border: 1px solid #ddd;
    width: auto;
    padding-right: .5rem;
    height: 100%;
    overflow: hidden
}

.cl-200 .cl-201, .cl-200 .cl-202, .cl-200 .cl-203 {
    margin-left: 0;
    padding-left: 0
}

.cl-200 .cl-202 {
    padding-left: 1rem
}

.cl-203 span:last-child i {
    background: #fff109;
    color: #fa6200;
    border-radius: 1rem;
    padding: .1rem .3rem
}

.cl-204 a.col-50 {
    padding: .5rem 0;
    position: relative;
    background: #fff;
    margin: 0;
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #000
}

.cl-204 a:first-child:after {
    content: '';
    width: 1px;
    background: #ddd;
    right: 0;
    position: absolute;
    height: 100%;
    top: 0
}

.cl-204 a span {
    background-repeat: no-repeat;
    background-size: 1.5rem;
    padding-left: 1.5rem;
    display: inline-block;
    font-size: 1rem;
    background-position: 0 50%
}

.cl-204 a:first-child span {
    background-image: url(../img/ico20.png)
}

.cl-204 a:last-child span {
    background-image: url(../img/ico21.png)
}

.cl-205 .icon {
    background-repeat: no-repeat;
    width: 1.3rem;
    height: 1.3rem;
    background-size: 1.3rem
}

.icon-grxx {
    background: url(../img/ico23.png)
}

.icon-yhkgl {
    background: url(../img/ico24.png)
}

.icon-dlmm {
    background: url(../img/ico25.png)
}

.icon-czjl {
    background: url(../img/ico26.png)
}

.icon-tkjl {
    background: url(../img/ico27.png)
}

.icon-tzjl {
    background: url(../img/ico28.png)
}

.icon-znx {
    background: url(../img/ico29.png)
}

.icon-gg {
    background: url(../img/ico30.png)
}

.icon-lxwm {
    background: url(../img/ico31.png)
}

.icon-jfmx {
    background: url(../img/ico32.png)
}

.icon-zjjl {
    background: url(../img/ico39.png)
}

.cl-205 .item-after {
    color: #999;
    font-size: .5rem
}

.cl-205 .list-block {
    margin: .5rem 0
}

.cl-206 .button {
    background: #ec1818;
    color: #fff;
    width: auto;
    border-radius: .5rem;
    padding: .5rem 0;
    margin: 0 .75rem;
    height: 100%;
    padding: 0;
    height: 2rem;
    line-height: 2rem
}

.cl-206 {
    margin: .75rem 0;
    text-align: center;
    height: 2rem;
    line-height: 2rem
}

.cl-207 {
    font-style: normal;
    background: #ec1818;
    color: #fff;
    border-radius: 25px;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle
}

i, var {
    font-style: normal
}

.cl-208, .cl-208 .bar-nav {
    background: #fff;
    color: #000
}

.cl-208 .bar-nav {
    border-bottom: 1px solid #ddd
}

.cl-208 .item-input input, .cl-208 .item-input select, .cl-208 .item-title {
    font-size: .7rem
}

.cl-209 {
    margin: 0;
    padding: 0
}

.cl-209 .list-block {
    margin: .3rem 0
}

.cl-209 .list-block ul li .item-inner {
    height: auto
}

.cl-209 .item-after {
    max-height: inherit;
    height: auto;
    font-size: .7rem;
    width: calc(99.75%)
}

.cl-209 .item-after .cl-210 img {
    display: block;
    height: 2rem;
    vertical-align: middle
}

.cl-209 .item-content {
    padding-left: 0
}

.cl-209 .item-after .cl-210 span {
    display: block;
    height: 1.2rem;
    line-height: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden
}

.cl-209 .item-after {
    overflow: hidden;
    text-overflow: ellipsis
}

.cl-209 .item-after .cl-210:nth-child(1) {
    width: 3rem;
    display: block
}

.cl-209 .item-after .cl-210:nth-child(2) {
    width: 2rem;
    margin: 0 .2rem;
    display: block;
    line-height: 2.4rem;
    padding: .2rem 0
}

.cl-209 .item-after .cl-210:nth-child(1) span:last-child, .cl-209 .item-after .cl-210:nth-child(3) span:last-child {
    color: #999
}

.cl-209 .item-after .cl-210:nth-child(3) {
    width: calc(95%);
    display: block
}

.cl-209 .item-after .cl-210 {
    height: 2.4rem
}

.cl-209 .item-after .cl-210:nth-child(3) i {
    float: right;
    font-size: .6rem;
    width: 3rem;
    text-align: right;
    padding-right: .2rem
}

.buttons-tab {
    position: relative;
    z-index: 9999
}

.buttons-tab .button.active {
    border: none
}

.buttons-tab .button.active span {
    background: #f42023;
    color: #fff;
    border: none;
    width: 100%;
    display: block;
    vertical-align: middle;
    margin: .2rem auto;
    height: 1.6rem;
    line-height: 1.6rem;
    border-radius: .25rem
}

.buttons-tab .button:after {
    content: '';
    width: 1px;
    height: 60%;
    top: 20%;
    display: block;
    position: absolute;
    right: 0;
    background-color: #ddd
}

.cl-300 {
    margin: 0;
    padding: 0
}

.cl-300 .item-content {
    font-size: .7rem;
    padding-left: 0
}

.cl-300 .item-content .item-inner {
    padding: .5rem
}

.cl-300 .item-content:first-child .item-after font {
    color: #1c9df7
}

.cl-300 .item-content .item-after {
    max-width: calc(96%);
    word-break: break-all;
    white-space: inherit;
    height: auto;
    display: block;
    overflow: hidden;
    max-height: initial
}

.cl-300 .list-block {
    margin: .75rem 0
}

.cl-301 .col-100 a {
    text-align: center;
    color: #38c;
    font-size: .8rem;
    display: block
}

.cl-301 {
    margin: .75rem 0
}

.cl-100 .col-100 img {
    width: 4rem;
    height: 4rem
}

.cl-100 .col-100 {
    margin: 0 auto;
    width: 100%;
    display: block;
    font-size: .9rem
}

.cl-302 .icon {
    background-repeat: no-repeat;
    background-size: 1.2rem;
    width: 1.2rem;
    height: 1.2rem
}

.icon-form-dlzh {
    background-image: url(../img/ico23.png)
}

.icon-form-dlmm {
    background-image: url(../img/ico36.png)
}

.icon-form-qq {
    background-image: url(../img/ico66.png)
}

.icon-form-zsxm {
    background-image: url(../img/ico37.png)
}

.cl-302 .item-content {
    padding-left: .5rem;
    font-size: .7rem
}

.cl-302 .list-block .item-media + .item-inner {
    margin-left: .5rem
}

.cl-302 .list-block .item-media + .item-inner .item-title {
    text-align: right
}

.cl-302 .list-block .item-media + .item-inner .item-title:after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 1px;
    background: #ddd;
    display: block
}

.cl-302 .list-block .item-media + .item-inner .item-input input, .cl-302 .list-block .item-media + .item-inner .item-input select {
    font-size: .7rem;
    padding-left: .7rem
}

.cl-302 .list-block {
    margin: 0
}

.cl-303 {
    margin: .25rem .75rem;
    font-size: .6rem
}

.cl-303 p {
    padding: .25rem 0;
    margin: auto
}

.cl-303 i {
    color: #d20000
}

.cl-304 .icon-form-ymm {
    background-image: url(../img/ico34.png)
}

.cl-302 .icon-form-qrmm, .cl-304 .icon-form-xmm {
    background-image: url(../img/ico35.png)
}

.cl-305 {
    margin: .5rem 0
}

.cl-305 .col-100 {
    font-size: 1rem;
    margin: 0
}

.cl-102 {
    margin-top: .75rem
}

.cl-306 .list-block ul li a .item-inner .cl-307 {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    overflow: hidden
}

.cl-306 .list-block ul li a .item-inner .cl-307 span {
    display: inline-block;
    height: 1.2rem;
    line-height: 1.2rem
}

.cl-306 .list-block ul li a .item-inner .cl-307:first-child {
    font-weight: 700
}

.cl-306 .list-block ul li a .item-inner .cl-307:last-child {
    color: #999;
    font-size: .6rem
}

.cl-306 .list-block ul li a .item-inner .cl-307:first-child span:last-child {
    color: #fa6200
}

.cl-306 .list-block ul li a .item-inner .cl-307 span:first-child {
    float: left
}

.cl-306 .list-block ul li a .item-inner .cl-307 span:last-child {
    float: right
}

.cl-306 .item-content .item-after {
    display: block;
    padding-left: 0
}

.cl-307 {
    margin: 0
}

.cl-307 .button {
    background: #009df7
}

.cl-307 p {
    padding: 0;
    margin: 0
}

.cl-307 {
    height: auto
}

.cl-308 .list-block:last-child {
    margin-bottom: 0
}

.cl-308 .list-block:first-child {
    margin-top: 0
}

.cl-308 .icon-hylb {
    background-image: url(../img/ico56.png)
}

.cl-308 .icon-tjhy {
    background-image: url(../img/ico57.png)
}

.cl-308 .icon-cwbb {
    background-image: url(../img/ico58.png)
}

.cl-308 .icon-tdls {
    background-image: url(../img/ico59.png)
}

.cl-308 .icon-tdye {
    background-image: url(../img/ico60.png)
}

.cl-308 .icon-tdtz {
    background-image: url(../img/ico61.png)
}

.cl-308 .icon-tglj {
    background-image: url(../img/ico62.png)
}

.cl-309 {
    border: 1px solid #ddd;
    margin: 0 .75rem;
    background: #fff;
    padding: .25rem;
    margin-bottom: .75rem
}

.cl-310 .button.active {
    border-bottom: 1px solid #fa6200
}

.cl-310 .button.active span {
    background: 0 0;
    color: #000
}

.cl-310 .button:after {
    height: 100%;
    top: 0
}

.cl-311 .item-input input {
    color: #999
}

.cl-311 .icon-form-zhye {
    background-image: url(../img/ico39.png)
}

.cl-311 .icon-form-scdlsj {
    background-image: url(../img/ico42.png)
}

.cl-311 .icon-form-scfwip {
    background-image: url(../img/ico43.png)
}

.cl-311 .icon-form-bzyxtz {
    background-image: url(../img/ico44.png)
}

.cl-311 .icon-form-szyxtz {
    background-image: url(../img/ico45.png)
}

.cl-311 .icon-form-zjck {
    background-image: url(../img/ico46.png)
}

.cl-311 .icon-form-zjqk {
    background-image: url(../img/ico47.png)
}

.cl-311 .list-block .item-content .item-inner .item-title, .cl-311 .list-block .item-media + .item-inner .item-input input {
    font-size: .7rem
}

.cl-312 .icon-form-yhmc {
    background-image: url(../img/ico48.png)
}

.cl-312 .icon-form-zhmc {
    background-image: url(../img/ico24.png)
}

.cl-312 .icon-form-kh {
    background-image: url(../img/ico49.png)
}

.cl-312 .icon-form-khd {
    background-image: url(../img/ico50.png)
}

.cl-312 .icon-form-khr {
    background-image: url(../img/ico37.png)
}

.cl-312 .icon-form-qrkh {
    background-image: url(../img/ico52.png)
}

.cl-313 .list-block {
    margin: .75rem 0
}

.cl-313 .list-block ul li label .item-inner .item-subtitle img {
    width: 5rem
}

.cl-313 .list-block ul li label .item-inner .item-subtitle i, .cl-313 .list-block ul li label .item-inner .item-subtitle img {
    float: left;
    display: inline-block
}

.cl-313 .list-block ul li label .item-inner .item-subtitle i {
    width: calc(95%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .6rem
}

.cl-313 label.label-checkbox input[type=radio]:checked + .item-media i.icon-form-checkbox {
    background-color: #fa6200
}

.cl-313 label.label-checkbox i.icon-form-checkbox {
    width: .7rem;
    height: .7rem;
    border: none
}

label.label-checkbox i.icon-form-checkbox:after {
    content: none
}

.cl-313 .item-media span {
    height: 1rem;
    width: 1rem;
    border-radius: 1.1rem;
    border: 1px solid #ddd;
    box-shadow: .1rem .1rem .1rem .1rem #ddd inset;
    line-height: .8rem;
    text-align: center
}

.cl-314 {
    background-color: #009df7 !important
}

.cl-315 {
    background-color: #ec1818 !important
}

.icon-top-gcdt {
    width: 1rem;
    height: 1rem;
    background: url(../img/hico0.png) left center/auto 50% no-repeat
}

.cl-316 {
    color: #ff0;
    font-size: .7rem
}

.cl-317 .col-100 .left {
    font-size: .7rem !important
}

.cl-317 .col-100 {
    height: 1.2rem;
    line-height: 1.2rem
}

.cl-318 {
    margin-top: .3rem;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
    margin-top: .2rem;
    background: #fff;
    margin-top: 0
}

.cl-318 a {
    border-right: 1px solid #ddd;
    width: 25%;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block
}

.cl-318 a span {
    display: block;
    margin: .2rem auto;
    text-align: center;
    color: #000
}

.cl-318 a span.img {
    border: 1px solid #ddd;
    border-radius: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: .3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%
}

.cl-318 .time {
    text-align: center;
    margin: 0
}

.cl-318 .info {
    text-align: center;
    margin: 0;
    color: #fa6200
}

.cl-318 .time i {
    display: inline-block;
    width: .72rem;
    height: .72rem;
    line-height: .72rem;
    font-size: .5rem;
    background: #000;
    color: #fff;
    oberflow: hidden;
    border-radius: .2rem;
    text-align: center
}

.cl-319 .list-block {
    margin: 0;
    margin-top: .5rem
}

.cl-319 .list-block .item-content .icon {
    width: 1.5rem;
    height: 1.5rem
}

.cl-319 .list-block ul li:after, .cl-319 .list-block ul li:before {
    content: none
}

.cl-319 .list-block .item-content .item-title {
    color: #fff;
    font-weight: 700
}

.cl-319, .cl-319 .list-block ul {
    background: #171717 !important
}

.cl-320, .cl-320 .list-block ul {
    background: #171717 !important
}

.cl-319 .list-block ul:before, .cl-320 .list-block ul:after, .cl-320 .list-block ul:before {
    content: none
}

.cl-319 .list-block .item-content {
    padding-left: 1.2rem
}

.cl-319 .list-block .item-content .item-inner {
    margin-left: 1.2rem
}

.cl-320 .list-block ul li:after, .cl-320 .list-block ul li:before {
    content: none
}

.cl-321 {
    height: 3.5rem;
    margin-left: .75rem;
    margin-top: .75rem
}

.cl-322, .cl-323 {
    float: left;
    height: 100%
}

.cl-322 img {
    width: 3rem;
    height: 3rem;
    margin: .25rem 0
}

.cl-323 {
    overflow: hidden;
    width: calc(100% - 3.5rem);
    padding-left: .3rem
}

.cl-324 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .7rem
}

.cl-324, .cl-325 {
    height: 1.75rem;
    line-height: 1.75rem;
    display: block
}

.cl-325 font {
    color: #ffea00
}

.cl-325 a {
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem
}

.cl-325 a img {
    width: 1rem;
    height: 1rem;
    display: block
}

.cl-320 .list-block {
    margin: 0
}

.cl-320 .list-block i.icon {
    width: 1.5rem;
    height: 1.5rem
}

.cl-320 .list-block .item-title {
    color: #fff;
    font-weight: 700
}

.bg-img-cz {
    background-image: url(../img/hico38.png)
}

.bg-img-tx {
    background-image: url(../img/hico48.png)
}

.bg-img-yxdt {
    background-image: url(../img/hico40.png)
}

.bg-img-bdyhk {
    background-image: url(../img/hico41.png)
}

.bg-img-grzl {
    background-image: url(../img/hico42.png)
}

.bg-img-xxzx {
    background-image: url(../img/hico43.png)
}

.bg-img-tzjl {
    background-image: url(../img/hico44.png)
}

.bg-img-jymx {
    background-image: url(../img/hico45.png)
}

.bg-img-zxkf {
    background-image: url(../img/hico46.png)
}

.bg-img-zxkf2 {
    background-image: url(../img/hico65.png)
}

.bg-img-zxkf3 {
    background-image: url(../img/zxkf3.png)
}

.cl-102 .cl-326 {
    background: #0087d5 url(../img/hico47.png) 1.8rem center/.5rem auto no-repeat;
    background-size: 1.5rem
}

.cl-327 .icon {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem
}

.cl-327 .card-header {
    display: block
}

.cl-327 .list-block ul li.item-content .item-after, .cl-327 .list-block ul li.item-content .item-title {
    font-size: .6rem
}

.cl-327 .list-block ul li.item-content .item-after {
    color: #999
}

.cl-327 .list-block ul li .item-inner {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 1.75rem
}

.cl-327 .list-block ul li.item-content {
    min-height: 1.75rem
}

.cl-327 .list-block ul li .item-inner {
    position: relative
}

.cl-327 .list-block ul li .item-inner:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #e1e1e1;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    top: 0;
    left: 0
}

.cl-327 .list-block ul li:after, .cl-327 .list-block ul li:before {
    content: none
}

.cl-10 .tab-item .tab-label, .cl-10 .tab-item.active .tab-label {
    width: auto;
    position: relative;
    padding-left: 0
}

.cl-10 .tab-item .tab-label:before, .cl-10 .tab-item.active .tab-label {
    width: .8rem;
    height: .8rem;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-size: .8rem
}

.img-rulejsk3 {
    background-image: url(../img/rulejsk3.png);
    background-size: 65% !important
}

.cl-10 .tab-item .tab-label {
    display: inline-block !important;
    width: auto !important
}

.bg-img-zxkf {
    background-image: url(../img/hico46.png);
    background-size: 65% !important
}

.bg-img-hyzx {
    background-image: url(../img/hico66.png);
    background-size: 55% !important
}

.bg-img-kjjg {
    background-image: url(../img/hico67.png);
    background-size: 65% !important
}

.bg-img-zst {
    background-image: url(../img/hico68.png);
    background-size: 95% !important
}

.cl-1 {
    padding-left: .3rem
}

.cl-4 {
    padding-left: 1.5rem;
    background-position: .3rem 50%;
    background-size: 1rem
}

.cl-101, .cl-102 {
    width: auto;
    margin: 0 .75rem
}

.modal-inner .modal-text {
    font-size: .7rem
}

.modal.modal-in {
    border-radius: 5px
}

.layui-m-layerchild h3 {
    margin: 0 !important;
    background: #fa6200 !important;
    color: #fff;
    height: 2rem !important;
    line-height: 2rem !important
}

.layui-m-layercont {
    padding: 1rem .25rem !important;
    word-wrap: break-word !important;
    line-height: initial !important
}

.layui-m-layercont p {
    text-align: initial !important
}

.layui-m-layercont p {
    padding: 0;
    margin: 0
}

.cl-328 a {
    color: #fff;
    font-size: .7rem
}

.cl-328 a:last-child {
    margin-left: .5rem
}

.cl-320 .cl-102 {
    margin-top: 1rem
}

.cl-400 {
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: .8rem
}

.cl-400 a {
    display: block;
    margin-left: .75rem;
    color: #ffea00
}

.cl-320 .icon {
    background-repeat: no-repeat
}

.cl-102 {
    margin-top: .75rem
}

.list-block .item-link a.item-inner {
    color: #000
}

.no-right-record {
    background: url(../img/no-right-record.png);
    background-size: 14.75rem 6rem;
    width: 14.75rem;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5.875rem
}

.list-block ul:before {
    content: none
}

.hide {
    display: none
}

.cl-208 .list-block {
    margin: 0
}

.cl-301 .col-100 a {
    border: none
}

.cl-500 p {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    text-align: center;
    height: 2rem
}

.cl-501, .cl-501 img, .cl-501 span {
    height: 2rem;
    line-height: 2rem;
    display: inline-block
}

.cl-501 img {
    border: .25rem solid #ddd;
    border-radius: 1.1rem;
    vertical-align: middle
}

.cl-501 span {
    color: #000;
    font-size: .8rem
}

.cl-501 {
    padding: .5rem 0 !important;
    border-bottom: 1px dotted #666;
    height: 3rem !important
}

.cl-502 {
    color: #fa6200;
    font-size: 1rem;
    margin-top: .7rem !important;
    font-weight: 700
}

.cl-502, .cl-503 {
    height: 1.5rem !important;
    line-height: 1.5rem
}

.cl-504 .list-block {
    margin-top: 0
}

.cl-504 .list-block .item-content .item-inner:after, .cl-504 .list-block .item-content:after, .cl-504 .list-block .item-content:before {
    content: none
}

.cl-504 .list-block .item-content .item-inner {
    padding-top: 0;
    padding-bottom: 0
}

.cl-504 .list-block .item-content, .cl-504 .list-block .item-inner {
    font-size: .7rem
}

.cl-504 .list-block {
    border-shadow: 0 2px .1rem #ddd;
    border-bottom: 1px solid #ccc
}

.cl-209 .item-after .cl-210:nth-child(2) {
    text-align: center
}

.cl-505, .cl-505 .list-block {
    margin: 0;
    padding: 0
}

.cl-306 .list-block .item-content {
    padding-left: .75rem
}

.cl-506 {
    margin-top: .75rem
}

.cl-600 {
    height: 1.8rem;
    width: 100%;
    background: #fff;
    overflow-x: scroll;
    border-top: 1px solid #ddd;
    overflow: hidden
}

.cl-602 {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 3.1rem
}

.cl-602 a {
    display: inline-block;
    height: 100%;
    padding: 0 .5rem;
    color: #a3a3a3;
    height: 1.8rem;
    line-height: 1.8rem
}

.cl-602 a.active {
    border-bottom: 2px solid #fa6200 !important;
    color: #fa6200
}

.cl-603 {
    font-size: .7rem;
    text-align: center;
    padding: .5rem 0;
    color: #f57833;
    background: #f7f7f7
}

.cl-603:nth-child(1) {
    border-top: 1px solid #ddd
}

.cl-604 {
    background: #fff;
    width: 100%;
    display: table
}

.cl-604 table {
    width: 100%;
    display: table
}

.cl-604 table tbody tr {
    width: 100%;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit
}

.cl-604 table tbody tr td {
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ddd;
    padding: .5rem 0
}

.cl-604 table tbody tr td span:nth-child(1) {
    color: #f57833
}

.cl-604 table tbody tr td span:nth-child(1) {
    color: #f57833
}

.cl-604 table tbody tr td span:nth-child(2) {
    color: #afafaf;
    margin-left: .25rem
}

.icon-qingchu {
    background-image: url(../img/ico67.png)
}

.cl-605 .tab-item .icon {
    background-size: 1.25rem
}

.cl-605 .tab-item span {
    display: inline-block;
    width: 1.25rem !important
}

.cl-10 .tab-item.active .tab-label, .cl-605 a .tab-label:before {
    background: 0 0;
    padding-left: 0
}

.cl-606 {
    bottom: 2.75rem;
    height: 2.1rem;
    line-height: 2.1rem;
    border-top: 1px solid #ddd;
    display: block;
    overflow: hidden
}

.cl-606 ~ .content {
    bottom: 4.85rem
}

.cl-607 font {
    color: #fa6200
}

.cl-607 {
    float: left
}

.cl-608 {
    float: right
}

.cl-608 input {
    width: 100%;
    border: 1px solid #999;
    margin: 0;
    min-height: 2.2em;
    text-align: left;
    border: 0;
    background: transparent none;
    -webkit-appearance: none;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    border: 1px solid #ddd;
    display: inline-block;
    width: 3.3rem;
    background: #fff
}

.cl-609 {
    display: inline-block
}

.cl-610 {
    padding: .5rem 0;
    height: 2.8rem
}

.cl-610 a {
    border-radius: .25rem;
    margin: 0 .25rem;
    border: 1px solid #ddd
}

.cl-610 a.active {
    border: none !important;
    color: #fff;
    background-color: #0094e9;
    border-color: #0094e9
}

.cl-700 .list-block {
    margin: 0;
    margin-top: .75rem
}

.cl-700 .list-block li a .item-media img {
    width: 2rem;
    height: 2rem;
    margin: 0
}

.cl-700 .list-block.media-list .item-inner {
    height: auto
}

.cl-700 .list-block .item-text, .cl-700 .list-block .item-title {
    height: 1rem
}

.cl-700 .list-block li a .item-text {
    color: #afafaf;
    font-size: .6rem
}

.cl-700 .list-block li a .item-title {
    font-size: .6rem
}

.cl-700 .list-block .item-content {
    min-height: 2rem;
    padding-top: .25rem;
    padding-bottom: .25rem
}

.cl-700 .list-block .item-link .item-inner {
    padding-left: .75rem
}

.cl-701 .button.active span {
    color: #fa6200;
    background: 0 0
}

.cl-701 .button.active {
    border-bottom: 1px solid #fa6200
}

.cl-701 .button:after {
    height: 100%;
    top: 0
}

.cl-702 {
    width: 100%;
    padding: .75rem
}

.cl-702 input {
    border: 1px solid #ddd;
    font-size: .6rem;
    margin: auto;
    height: 1.5rem;
    width: 100%
}

.cl-702 p {
    margin: 0;
    padding: 0;
    text-align: left
}

.cl-702 span {
    display: inline-block;
    text-align: left;
    font-size: .6rem
}

.cl-704 .modal-inner {
    padding: 0;
    background: #fff
}

.cl-704 .modal-title {
    background-color: #e3e9ed;
    padding: .5rem 0;
    font-size: .7rem
}

.cl-704 .modal-buttons {
    background: #fff
}

.cl-704 .modal-button {
    background: inherit;
    padding: 0;
    border: none;
    border-radius: initial;
    width: 100%;
    padding: 0 .75rem;
    height: 1.7rem;
    line-height: 1.7rem
}

.cl-704 .modal-button:after, .cl-704 .modal-inner:after {
    content: none
}

.cl-705, .cl-706 {
    width: 100%;
    border: none;
    background: 0 0;
    padding: 0;
    margin: 0;
    color: #fff;
    border-radius: .2rem;
    height: 100%;
    font-size: .7rem
}

.cl-705 {
    background-color: #45e289
}

.cl-706 {
    background-color: #fa6200
}

.cl-707 {
    text-align: left;
    color: red;
    padding: .25rem 0;
    font-size: .6rem
}

.cl-709, .cl-710 {
    padding: .75rem
}

.cl-710 a {
    color: #fa6200;
    text-align: right;
    display: block
}

.cl-708 .item-inner {
    padding-left: 0 !important
}

.cl-330 {
    font-size: .5rem;
    text-align: center;
    background: #fff;
    padding: .75rem 0;
    border-bottom: 1px solid #ddd
}

.cl-330 a {
    color: #fa6200
}

.cl-341 .item-after {
    width: auto;
    color: #a0a0a0
}

.cl-341 .item-title {
    width: auto
}

.cl-1 .button-nav.pull-left {
    margin-left: 0
}

.title {
    margin: auto;
    font-size: .7rem
}

.cl-318 {
    border-top: 0;
    margin: 0;
    border: none
}

.cl-318 .col-25 {
    width: 25%;
    margin-left: 0;
    border: 1px solid #ddd;
    border-left: none !important
}

.cl-318 .col-25:nth-child(4) {
    border-right: none !important
}

.cl-318 a span.img {
    width: 2.8rem;
    height: 2.8rem;
    background-size: 2.2rem
}

.cl-311 .list-block .item-link .item-inner {
    padding-right: .75rem
}

.layui-m-layer2 .layui-m-layercont p {
    text-align: center !important
}

.cl-801 {
    color: #fa6200;
    font-size: .6rem;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

.cl-802 {
    padding-left: 0 !important
}

.no-margin {
    margin: 0
}

.cl-804 {
    width: 4rem
}

.cl-209 .item-after .cl-806 span {
    display: block;
    height: 1.2rem;
    line-height: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden
}

.cl-209 .item-title {
    width: 20%
}

.cl-209 .item-after {
    overflow: hidden;
    text-overflow: ellipsis
}

.cl-209 .item-after .cl-806:nth-child(1) {
    width: 3rem;
    display: block
}

.cl-209 .item-after .cl-806:nth-child(1) span:last-child, .cl-209 .item-after .cl-806:nth-child(2) span:last-child {
    color: #999;
    font-size: .6rem
}

.cl-209 .item-after .cl-806:nth-child(2) {
    width: calc(97%);
    display: block;
    margin-left: .5rem
}

.cl-209 .item-after .cl-806 {
    height: 2.4rem
}

.cl-209 .item-after .cl-806:nth-child(2) i {
    float: right;
    font-size: .6rem;
    width: 5rem;
    text-align: right;
    padding-right: .2rem
}

.cl-700 .list-block .item-content {
    padding-top: 0;
    padding-bottom: 0
}

.cl-700 .list-block .item-content .item-inner:after {
    content: none
}

.cl-810 {
    font-size: .6rem;
    text-align: center;
    background: #fff;
    padding: .5rem 0
}

.cl-810 img {
    width: 80%
}

.table-no-top tr:first-child td {
    border-top: none !important
}

.cl-900 {
    height: auto;
    overflow: hidden;
    padding: .5rem;
    background: #f7f7f7;
    border-top: 1px solid #ddd
}

.cl-901 .cl-902 {
    overflow: hidden;
    background: #fff;
    padding: .5rem;
    border-top: 1px solid #ddd;
    padding-right: .75rem;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(../img/ico22-1.png);
    background-size: .7rem;
    font-size: .6rem
}

.cl-901 .cl-903 {
    display: none
}

.cl-901.show .cl-902 {
    background-image: url(../img/ico22-2.png)
}

.cl-901.show .cl-903 {
    display: block
}

.cl-901 .cl-902 .left font {
    color: #0094e9
}

.cl-901 .cl-902 .right font {
    color: #46bb22
}

.cl-904:nth-child(odd) {
    background: #f7f7f7
}

.cl-904:nth-child(even) {
    background: #fff
}

.cl-904 {
    overflow: hidden;
    background: #fff;
    padding: .5rem;
    border-top: 1px solid #ddd;
    padding-right: .75rem;
    font-size: .5rem
}

.cl-904 .openNumber i {
    background: #fa6200;
    color: #fff;
    border-radius: 1rem;
    padding: .1rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center
}

.cl-604 table tbody tr td.active {
    background: #fa6200
}

.cl-604 table tbody tr td.active span {
    color: #fff !important
}

.cl-950 {
    height: 4.85rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99999;
    background: #000;
    opacity: .7;
    color: #fff;
    text-align: center;
    line-height: 4.85rem;
    font-size: 2rem
}

.cl-952 {
    color: #fff !important;
    background: #fa6200;
    padding: .25rem .5rem !important;
    border-radius: 5px
}

.cl-953 {
    padding-left: .1rem !important
}

.cl-960 {
    font-size: .7rem;
    text-align: center;
    padding: .5rem 0;
    background: #e7e7e7;
    border-bottom: 1px solid #ddd
}

.red {
    color: red
}

.cl-981 {
    float: left
}

.cl-982 {
    float: left
}

.cl-901 .openNumber i {
    width: .9rem;
    height: .9rem;
    line-height: .9rem
}

.not-selected span {
    color: inherit !important;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin-left: 0 !important
}

span.ball-blue, span.ball-green, span.ball-red {
    color: #fff !important
}

.panel-left .list-block ul:after {
    content: none
}

.cl-990 {
    padding: 0;
    margin: 0
}

.cl-990 .list-block {
    margin: 0;
    padding: 0
}

.cl-990 .list-block ul li a, .cl-990 .list-block ul li a .item-subtitle, .cl-990 .list-block ul li a .item-text {
    font-size: .5rem
}

.cl-990 .list-block ul li a .item-subtitle .ball {
    border-radius: 25px;
    background: #dd3e3e;
    color: #fff;
    width: 1rem;
    line-height: 1rem;
    height: 1rem;
    display: inline-block;
    text-align: center
}

.cl-990 .list-block ul li a, .cl-990 .list-block.media-list .item-inner {
    padding-left: .3rem;
    margin-left: 0
}

.cl-990 .list-block ul li a .item-subtitle {
    margin-top: .2rem;
    margin-bottom: .2rem
}

.cl-990 .list-block ul li a .item-text span {
    height: 100%;
    min-width: 1rem;
    text-align: center;
    border: 1px solid #ddd;
    display: inline-block
}

.cl-990 .list-block ul li a .item-subtitle, .cl-990 .list-block ul li a .item-text, .cl-990 .list-block ul li a .item-title-row {
    height: 1rem;
    line-height: 1rem
}

.cl-990 .list-block {
    margin-top: 0;
    margin-bottom: 0
}

.cl-990 .item-title {
    color: #000
}

.no-link .item-inner {
    background-image: none !important
}

.cl-318 .col-33 {
    width: 33%
}

.layui-m-layer-layer-skin-888 .layui-m-layercont {
    max-height: calc(92vh);
    overflow-y: scroll
}

.layui-m-layer-layer-skin-888 .layui-m-layerbtn {
    height: 2rem;
    line-height: 2rem
}

.cl-1000 .picker-items-col {
    width: 100%
}

.cl-202 span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

body, html {
    width: 100%;
    height: 100%
}

.page-transitioning, .page-transitioning .swipeback-page-shadow {
    -webkit-transition: .4s;
    transition: .4s
}

.page-from-right-to-center {
    -webkit-animation: none;
    animation: none
}

.page-from-center-to-right {
    -webkit-animation: none;
    animation: none
}

.cl-1001 .tab-item {
    position: relative
}

.cl-1001 .cl-1002 {
    z-index: 100;
    position: absolute;
    bottom: -20rem;
    background: #202020;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%
}

.cl-1001 .cl-1002 li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block
}

.cl-1001 .cl-1002 li a {
    display: block;
    padding: .5rem 0;
    text-align: center;
    color: #aaa;
    font-size: .55rem
}

.cl-1001 .cl-1002 li a:after {
    content: none
}

.cl-1001 .cl-1002:after {
    content: '';
    bottom: -16px;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;
    border-top: 8px solid #202020;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent
}

.bg-img-sy {
    background-image: url(../img/ico1.png) !important
}

.cl-1003 {
    position: relative;
    z-index: 99999;
    background: #202020;
    overflow: hidden;
    height: 2.5rem;
    padding: .125rem 0
}

.cl-1100 {
    overflow: hidden;
    height: 2rem;
    line-height: 2rem;
    background: #fff;
    border-bottom: 1px dashed #999;
    padding: 0 .5rem
}

.cl-1100 .info {
    color: #fa6200
}

.cl-1100 .time i {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    background: #000;
    color: #fff;
    border-radius: .2rem;
    display: inline-block;
    text-align: center
}

.cl-1100 .ljtz {
    border-radius: .25rem;
    background: #e50a0a;
    color: #fff;
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    margin: .25rem 0;
    padding: 0 .5rem
}

.cl-1105 {
    color: #3e95fe
}

.cl-1100 .list-block ul li:after, .list-block ul li:first-child:before {
    content: none
}

.cl-1200 {
    height: 2.1rem;
    line-height: 2.1rem;
    margin-right: .25rem
}

.cl-1201 {
    height: 1rem;
    line-height: 1rem;
    display: block
}

.cl-1201 i {
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
    background: #fa6200;
    color: #fff;
    text-align: center;
    width: 1rem;
    border-radius: 1.1rem
}

.cl-1202 {
    height: 1rem;
    line-height: 1rem;
    display: block;
    margin-top: .1rem
}

.cl-1202 i {
    display: inline-block;
    height: 1rem;
    line-height: 1rem;
    border: 1px solid #ddd;
    text-align: center;
    min-width: 1rem;
    width: auto
}

.cl-900 {
    padding: .25rem
}

.cl-1210, .cl-1211 {
    border-radius: initial !important;
    background: 0 0 !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 1rem !important
}

.cl-1210 {
    background-image: url(../img/ball-add.png) !important
}

.cl-1211 {
    background-image: url(../img/ball-tran.png) !important
}

.cl-1203 {
    height: 1.5rem;
    line-height: 1.5rem
}

.bose-01, .bose-02, .bose-07, .bose-08, .bose-12, .bose-13, .bose-18, .bose-19, .bose-23, .bose-24, .bose-29, .bose-30, .bose-34, .bose-35, .bose-40, .bose-45, .bose-46 {
    background-color: #f13030 !important
}

.bose-03, .bose-04, .bose-09, .bose-10, .bose-14, .bose-15, .bose-20, .bose-25, .bose-26, .bose-31, .bose-36, .bose-37, .bose-41, .bose-42, .bose-47, .bose-48 {
    background-color: #0074ff !important
}

.bose-05, .bose-06, .bose-11, .bose-16, .bose-17, .bose-21, .bose-22, .bose-27, .bose-28, .bose-32, .bose-33, .bose-38, .bose-39, .bose-43, .bose-44, .bose-49 {
    background-color: #5bae1c !important
}

.pk10-bg-01 {
    background: #dbd507 !important
}

.pk10-bg-02 {
    background: #01b7ff !important
}

.pk10-bg-03 {
    background: #636862 !important
}

.pk10-bg-04 {
    background: #e4670d !important
}

.pk10-bg-05 {
    background: #7bf8fc !important
}

.pk10-bg-06 {
    background: #2600f7 !important
}

.pk10-bg-07 {
    background: #ceced6 !important
}

.pk10-bg-08 {
    background: #f80509 !important
}

.pk10-bg-09 {
    background: #690000 !important
}

.pk10-bg-10 {
    background: #090 !important
}

.cl-1207 i {
    border-radius: initial !important
}

.cl-1351 {
    padding: .25rem;
    background: #fff;
    margin-top: .5rem
}

.cl-1352 .searchbar {
    background: #fff
}

.cl-1350 .content-block {
    margin: 0;
    font-size: .7rem
}

.cl-1302 {
    margin-top: .5rem
}

.cl-1302 .active {
    color: initial !important;
    border-top: 2px solid #fa6200 !important
}

.cl-1400 {
    font-size: .6rem;
    color: #000
}

.cl-1350 {
    width: 100%;
    display: table;
    color: #696968;
    border: 1px solid #ededed;
    padding: .5rem;
    background-color: #fff
}

.cl-1350 tbody tr td {
    text-align: center;
    font-size: .7rem
}

.cl-1350 tbody tr {
    padding: .25rem 0
}

.cl-1350 tr {
    border-bottom: 1px solid #ededed
}

.cl-1350 tbody tr:last-child {
    border: none
}

.cl-1350 tbody tr td, .cl-1350 thead tr th {
    border-right: 1px solid #ededed;
    font-size: .7rem;
    padding: .5rem 0
}

.cl-1350 tbody tr td:last-child, .cl-1350 thead tr th:last-child {
    border: none
}

.cl-1352 .searchbar-cancel {
    background: #ddd
}

.icon-search {
    background-image: url(../img/ico63.png);
    background-size: 1rem;
    background-repeat: no-repeat
}

.cl-1352 .searchbar {
    padding: 0;
    height: 2rem;
    line-height: 2rem;
    overflow: hidden
}

.cl-1352 .search-input {
    position: relative
}

.cl-1352 .search-input img {
    width: 1rem;
    height: 1rem;
    vertical-align: middle
}

.cl-1352 .search-input p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    vertical-align: middle;
    height: 2rem;
    line-height: 2rem;
    color: #aaa;
    font-size: .8rem
}

.cl-1352 .search-input input {
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

.cl-1352 .search-input p label {
    width: 100%
}

.cl-1352 .search-input input {
    text-align: center;
    font-size: .8rem;
    height: 2rem;
    line-height: 2rem
}

.cl-1352 {
    border-bottom: 1px solid #ddd
}

.icon-add {
    background-image: url(../img/ico64.png);
    width: .8rem;
    height: .8rem
}

.cl-209 .item-after .cl-210:nth-child(2) {
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center
}

.cl-708 ul li .item-link .item-inner .item-input input {
    padding: 0
}

.cl-313 .list-block .item-link a.item-inner {
    margin-left: 0
}

.cl-1400 {
    min-width: 1.4rem;
    text-align: center;
    color: gray;
    display: inline-block
}

.cl-3001 {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    clear: both
}

.cl-3001 .col-50 {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.cl-3002, .cl-3003 {
    font-size: .7rem;
    display: inline-block;
    width: 50%;
    overflow: hidden;
    float: left;
    padding-left: .5rem;
    height: 1.5rem;
    line-height: 1.5rem
}

.cl-3004 {
    display: block !important;
    margin: 0 !important;
    padding: .5rem 0 !important
}

.cl-3001:after {
    content: '';
    height: 1px;
    width: 100%;
    background: #ddd;
    position: absolute;
    bottom: 0;
    left: 0
}

.no-margin {
    margin: 0 !important
}

.no-padding {
    padding: 0 !important
}

.bar {
    z-index: 9999
}

.cl-209 .item-title {
    width: calc(0%)
}

.zst-content {
    height: calc(67.9vh);
    overflow-y: scroll;
    overflow-x: hidden
}

.zst-cl-1 {
    overflow: hidden
}

.zst-cl-1 .item {
    overflow: hidden
}

.zst-cl-1 .item span {
    background: initial;
    height: 23px;
    line-height: 23px;
    display: block;
    text-align: center
}

.zst-cl-1 .item:nth-child(even) {
    background: #f9f9f9
}

.zst-cl-1 .item:nth-child(odd) {
    background: #eee
}

.zst-cl-1 .item span {
    text-align: center;
    border-left: solid #E6E6E6 1px;
    display: inline-block;
    width: 7.5%;
    margin: 0;
    padding: 0;
    float: left
}

.zst-cl-1 {
    width: 100%;
    overflow: hidden
}

.zst-cl-1 .item span i {
    margin: 2px auto
}

.zst-cl-1 .item span:nth-child(1) {
    border-left: none;
    width: 25%
}

.zst-cl-10 {
    height: 100%;
    overflow: hidden
}

.zst-cl-10 .copyright {
    margin-top: 0
}

.zst-cl-20 .item {
    white-space: nowrap
}

.zst-cl-20 .item span {
    width: 2rem
}

.zst-cl-21, .zst-cl-21 span {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 2rem !important;
    line-height: 2rem !important
}

.zst-cl-21 span i, .zst-cl-21 span var {
    height: 1rem;
    line-height: 1rem;
    margin: 0 !important;
    padding: 0 !important
}

.zst-cl-21 span i {
    display: inline-block;
    float: left
}

.zst-cl-50 {
    overflow: hidden;
    position: relative;
    height: inherit
}

.zst-cl-51 {
    position: absolute;
    left: 0
}

.zst-cl-102 {
    height: 2rem !important;
    line-height: 2rem !important
}

.cl-300 {
    width: 100%;
    overflow: hidden
}

.pcAndMobile {
    text-align: center;
    margin: 15px 0
}

.cl-608 input {
    width: 2.9rem
}