.consele {
    position: absolute;
    width: 100%;
    background-color: #fff;
    height: 15%;
}

/*.consele .selects {*/
/*font-size: 15px;*/
/*font-weight: 600;*/
/*text-align: center;*/
/*color: #a3a3a3;*/
/*line-height: 2rem;*/
/*position: relative;*/
/*top: 25%;*/
/*}*/
.consele-one {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}
.bett-number2{
    text-align:center;
    padding: 5px;
}
.consele-two {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.selects-one {
    width: 60%;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    height: 47%;
    position: relative;
    top: 25%;
    text-align: center;
    margin: auto;
}

.xuan_cz {
    text-align: center;
    margin: 20px;
}

.xuan_cz .xuan_cz1 {
    border: 1px solid #F72021!important;
    width: 28%;
    margin-right: 18px;
    display: inline-block;
    border-radius: 6px;
}

.xuan_cz .xuan_cz2 {
    border-radius: 6px;
    width: 28%;
    display: inline-block;
    border: 1px solid #F72021!important;
}

.xuan_cz .xuan_cz3 {
    border-radius: 6px;
    border: 1px solid #F72021!important;
    width: 28%;
    margin-left: 18px;
    display: inline-block;
}

.consele1 {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    color: #989898;
}

.coveron1 {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #ffffff;
}

.selects-two {
    width: 60%;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    height: 47%;
    position: relative;
    top: 25%;
    text-align: center;
    margin: auto;
}

.selects-one span a {
    color: #a3a3a3;
}

.selects-two span a {
    color: #a3a3a3;
}

.selects-one span {
    position: relative;
    top: inherit;
}

.selects-two span {
    position: relative;
    top: inherit;
}

.show_hide {
    z-index: 999;
}

.gfwf_one {
    width: 50%;
    float: left;
    height: 100%;
}

.gfwf_two {
    width: 50%;
    float: left;
    height: 100%;
}

.gfwf_one .border_one {
    text-align: center;
    width: 65%;
    height: 50%;
    position: relative;
    top: 0.7rem;
    margin: auto;
    border-radius: 7px;
    line-height: 1.5rem;
}

.color_one {
    border: 1px solid #828282;
}

.color_two {
    border: 1px solid #F72021!important;
}

.gfwf_two .border_two {
    text-align: center;
    width: 65%;
    height: 50%;
    position: relative;
    top: 0.7rem;
    margin: auto;
    border-radius: 7px;
    line-height: 1.5rem;
}

.F1_color {
    color: #828282;
}

.F2_color {
    color: #F72021!important;
}

.gfwf_consele {
    width: 100%;
    height: 3.3rem;
    background-color: #fff;
    position: absolute;
    top: 2.2rem;
    z-index: 99;
}

.gfwf_mask {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    background: #000;
    margin-top: 5.5rem;
    z-index: 99;
}

ding {
    position: fixed;
}

.Hide_Show2 {
    display: none;
}

.gfwf_mask2 {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: #000;
    position: absolute;
}

.gfwf_triangle_down2 {
    width: 0px;
    height: 0px;
    border-width: 7px;
    border-style: solid;
    border-color: #101010 transparent transparent transparent;
    display: inline;
    position: relative;
    top: 0.54rem;
}

.Hide_Show {
    display: none;
}

.gfwf_triangle_down {
    width: 0px;
    height: 0px;
    border-width: 7px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    display: inline;
    position: relative;
    top: 0.54rem;
}

.cus-tabs-scroll {
    text-align: center;
    position: relative;
    height: 8%;
    width: 100%;
    background-color: #ffffff;
}

.cus-tabs-scroll a {
    padding: 15%;
    position: relative;
    top: 26%;
    color: #F72021!important;
}

.cus-tabs-scroll span {
    position: relative;
    top: 30%;
}

.cus-tabs-scroll span img {
    height: 0.7rem;
}

.x_wrap {
    width: 100%;
    height: 1.5rem;
    background: #fff;
    text-align: center;
    color: #F72021!important;
    z-index: 9;
}
.zxfs{
    border: 1px solid #F72021!important;
    border-radius: 4px;
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 0.3em;
    color: #F72021!important;
}
.x_wrap .x_1 {
    width: 46%;
    display: inline-block;
    position: relative;
    border-bottom: 2px solid #F72021!important;
    height: 1.3rem;
}

.x_wrap .x_2 {
    width: 5%;
    display: inline-block;
    position: relative;
    top: 0.3rem;
    margin:0px 0px 6px 4px;
}

.x_wrap .x_2 span img {
    height: 0.9rem;
}

.x_wrap .x_3 {
    width: 45%;
    display: inline-block;
    position: relative;
}

.wrap {
    background: #f7f7f7;
    width: 100%;
    /*height: 53rem;*/
}

.wrap .cus_common {
    background: #f7f7f7;
    width: 100%;
    margin-bottom: 0.5rem;
}

.wrap .cus_common .wan_top {
    line-height: 2.1rem;
    border-top: 2px solid #dddddd;
}

.wrap .cus_common .wan_top .wanwei {
    padding-right: 1rem;
    padding-left: 1rem;
    background: #fa6200;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    color: #fff;
    font-size: initial;
}

.wrap .cus_common .wan_top .xz {
    float: right;
}

.wrap .cus_common .wan_top span i {
    border: 1px solid #dddddd;
    padding: 0.28em 0.5em;
    border-radius: 5px;
    margin-right: 0.3em;
    /*font-size: 0.9em;*/
}

.wrap .cus_common .wan_bottom {
    line-height: 5.5em;
    background: #fff;
    border-bottom: 1px solid #dddddd;
    padding: 0.1rem;
    /*text-align:justify;*/
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
}

.wrap .cus_common .wan_bottom .cus-flex-item {
    line-height: 2.8em;
    color: red;
    text-align: center;
    width: 3.2em;
    width: calc(100% / 7);
    padding: 1.2em 0;
}

.wrap .cus_common .wan_bottom .cus-flex-item .xz {
    display: block;
    width: 2.8em;
    height: 2.8em;
    border: 1px solid #dddddd;
    border-radius: 50%;
    margin: 0 auto;
}

.wrap .cus_common .wan_bottom .cus-flex-item .num{}
.wrap .cus_common .wan_bottom .cus-flex-item .pl {
    color: #838383;
}

.gfwf_xz {
    width: 100%;
    /*height: 50%;*/
    background: #fff;
    position: absolute;
    top: 3.72rem;
    overflow-y: auto;
    z-index: 9;
}

.gfwf_wh {
    display: none;
}

.gfwf_mb {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.7;
}

.gfwf_xz .xuan {
    width: 100%;
    height: 0.4rem;
    margin-top: 0.38rem;
}

.gfwf_xz .yixuan {
    height: 5px;
}

.gfwf_xz .xuan .xuan1 {
    width: 37%;
    border-bottom: 1px solid #CCCCCC;
}

.gfwf_xz .xuan .xuan2 {
    color: #F72021!important;
}

.Fixed {
    position: fixed;
}

.wrap .cus_common .wan_bottom .cus-flex-item .xz2 {
    display: block;
    width: 2.5em;
    height: 2.5em;
    border: 1px solid #dddddd;
    border-radius: 50%;
    color: red;
}
.active_gfwf2{
    color: #fff;
    background: red;
}
.staer {
    line-height: 1.2rem;
    width: 100%;
    /*margin-top: 0.5em;*/
    color: #999;
}
.restaer{
    margin-bottom: 0.5rem;
}
.staer a{
    color: #999;
}
.staer .staer1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 0.3em;
    margin-top:0.15rem;
}

.active_gfwf {
    color: #fff;
    background: #F72021!important;
}

/*官方玩法投注界面底部*/
.gfwf-cl-608{
    width: 100%;
    text-align: center;
}
.gfwf-cl-608 .tab-item-clear{
    float: left;
}
.gfwf-cl-608 .tab-item-clear .cl-953{
    width: inherit;
    text-align: center;
    padding: .25rem .5rem!important;
    border-radius: 5px;
    background: #ccc;
    color:#8C828C;
}
.gfwf-cl-608 .zs-span{
    margin-left: 2%;
}
.gfwf-cl-608 .tab-item-touzhu{
    float: right;
}
#nowMoney{
    color:red;
}

/*投注蒙版*/
.tips-bg {
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: 110;
}

/*投注确认框*/
.betTemplate .betHead{
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.75rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.betTemplate .betContent{
    min-height: 10rem;
    height: auto;
}
.betTemplate .betFoot{
    height: 1.8rem;
    line-height: 1.8rem;
    border-top: solid 1px #ddd;
    font-size: 0.75rem;
}
.betTemplate .betFoot .yes-btn, .betTemplate .betFoot .no-btn{
    display: inline-block;
    float: left;
    width: 49.5%;
    text-align: center;
}

.betTemplate .betFoot .yes-btn span{
    display: block;
    padding: 0.02rem 1rem;
    margin: 0;
    color: #005ddc;
    border-right: 1px solid #ddd;
}
.betTemplate .betFoot .no-btn span{
    display: block;
    padding: 0.02rem 1rem;
    margin: 0;
    color: #005ddc;
}
.betContent{
    padding: 0 10px;
    margin:auto;
}
/***滑块美化***/
.playPlRangeContainer{
    padding:5px;
    height:14px;
    border-radius: 10px; /*将轨道设为圆角的*/
    /*box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; !*轨道内置阴影效果*!*/
    border: 1px solid #F72021!important;
    background:#fafafa;
    box-shadow: 0 1px 1px #F72021,inset 0 1px 1px #F72021!important
}
.playPlRangeContainer input[type=range] {
    -webkit-appearance: none;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
}
.playPlRangeContainer input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
.playPlRangeContainer input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    border-radius: 10px; /*将轨道设为圆角的*/
    /*box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; !*轨道内置阴影效果*!*/
    border: 1px solid #ddd;
}
.playPlRangeContainer input[type=range]:focus {
    outline: none;
}
.playPlRangeContainer input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 22px;
    width: 22px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ffffff;
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}
/****************/
.betContent .slide-item{
    display:block;
    margin:10px 0;
    overflow:hidden;
}
.betContent .slide-item:last-child{
    /*margin-bottom:0*/
}
/**官方layer**/
.layui-m-layer-gfwf{
    width:90%;
}
.layui-m-layer-gfwf .layui-m-layercont{
    padding:0!important;
}

.slide-item .ft{float:left;}
.slide-item .fr{float:right;}
.slide-item input[type=number]{
    width: 50px;
    border: 1px solid #dedede;
}

.foot_checkbox{
    width: 100%;
    line-height: 2rem;
    height: 2rem;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    margin-top: 5%;
    font-size: 0.8rem;
}
.foot_checkbox label input{
    zoom:150%;
    vertical-align:middle;
}

.foot_checkbox label span{
    vertical-align: middle;
    display: inline-block;
    margin-left: -0.2rem;
    margin-top: -0.01rem;
}
/*************checkbox美化************/
.myLabel {cursor:pointer;}
.myLabel i {font-size:0.5rem;font-style:normal;display:inline-block;width:12px;height:12px;text-align:center;line-height:12px;color:#fff;vertical-align:middle;margin:-2px 2px 1px 0px;border:#2489c5 1px solid;}
input[type="checkbox"],input[type="radio"] {display:none;}
input[type="radio"] + i {border-radius:7px;}
input[type="checkbox"]:checked + i,input[type="radio"]:checked + i {background:#2489c5;}
input[type="checkbox"]:disabled + i,input[type="radio"]:disabled + i {border-color:#ccc;}
input[type="checkbox"]:checked:disabled + i,input[type="radio"]:checked:disabled + i {background:#ccc;}

.foot_checkbox .myLabel{margin:0 5px;}
.hide{display:none;}
.show{display:inherit}
.mode_select{display:inline-block;border:1px solid #ccc;width:20px;height:20px;line-height:20px;text-align:center;margin:0;}
.mode_select.selected{background:#F72021!important;color:#fff}
.dzje_add,.beishu_add{cursor:pointer;display:inline-block;border:1px solid #ccc;width:20px;height:20px;line-height:20px;text-align:center;}
.wrap .cus_common .wan_bottom .cus-flex-item{padding:0.4rem;}
.beishu_remove{cursor:pointer;display:inline-block;border:1px solid #ccc;width:20px;height:20px;line-height:20px;text-align:center;}
.wrap .cus_common .wan_bottom .cus-flex-item .xz{font-size:1.1rem;width:1.8rem;height:1.8rem;line-height:1.8rem;}
.wrap .cus_common .wan_bottom .cus-flex-item{width:20%}

/*特殊号*/
.wrap .cus_common .wan_bottom .recus-flex-item{
    width: auto!important;
}

.tshStr .wan_bottom .cus-flex-item span{
    font-size: 0.76rem!important;
    margin-left: 0.2rem!important;
}

.wrap .hzwsStr .wan_top span.rewsbtn i{
    margin-right: 0!important;
}

.wrap .hzwsStr .wan_top span.rewsbtn i.rewsbtn-clear{
    margin-right: 0.4rem!important;
}